<!--EJS for the signup page-->
<!DOCTYPE html>
<html lang='en'>
 <head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet"
        type="text/css"
        href="game.css">
    <title>Krejci Uno</title>
 </head>
    <body>

      <!--Title HTML-->
      <header>
        <h1 id="unoTitle">Classic Game</h1>
      </header>

    <!--HTML For The Game-->
      <main>
          <!--Insert Game Stuff Here-->
      </main>
        
    </body>
</html>