/*CSS for the main menu*/

/*CSS For Header*/
header {
    position: relative;
    background-color: black;
    top: 0%;
    min-height: 200px;
}
#unoTitle {
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
    font-family: Luminari, fantasy;
    outline: .5px;
    -webkit-text-stroke: .5px red;
    -webkit-text-fill-color: white;
}

/*CSS for card stuff*/
#img {
    color: red;
}